html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#navmenu a {
    background-color: #78b7d1 !important;
    color: white !important;
}

    #navmenu a:hover,
    #navmenu a.active {
        background-color: #5aa6c6 !important; /* optional: slightly darker */
        color: white !important;
    }

.bg-dark {
    background-color: #0d1b2a !important; /* Deep blue */
}
.about-header {
    font-size: 2rem;
    font-weight: bold;
    background-color: #008080;
}

.about-me-card {
    transition: all 0.3s ease-in-out;
}

    .about-me-card:hover {
        transform: scale(1.02);
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }
.bg-teal {
    background-color: #008080 !important;
}

.hero-section {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

textarea.form-control::placeholder,
input.form-control::placeholder {
    color: #a89c87;
    font-size: 0.95rem;
}


